@charset "utf-8";

body {
  background: #fff;
  font-family: "Arial", sans-serif; 
  color: rgba(0, 0, 0, .7);
}

section {
  float:left;
  width:100%;
  clear:both;
  padding-top:20px;
}

section h2{
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -1px;
  text-transform: uppercase;
  padding: 0;
  text-align:center;
}

#photos h3{
  text-align:center;
  padding-top:15px;
  
}
/* index page */

#intro{

  background-color:#333;
  padding-bottom:10px;
  
}

#intro h1 {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  padding: 0;
  margin: 0; 
  color:rgba(0,0,0,.6);
  text-shadow: 1px 1px 0 rgba(255,255,255,.2);
}

#logo{
margin-left:40px;
}

#logo, #events{
  float:left;
}

#events {
  text-align: center;
  margin-left:15%;
  width:40%;
  color: #222;
  background-color: rgb(226, 102, 0);
  border-radius:5px;
  box-shadow:3px 3px 10px #333;
}

#event-details a{
  font-size:1.25em;
  text-decoration:none;
  color: #333;
}

#event-details a:hover{
  text-decoration:underline;
}

#events li{
  list-style-type:none;
  padding-bottom:10px;
}

#events h2{
  text-align:center;
  color: #fff;
  text-shadow:none;
  text-transform: none;
  letter-spacing:0;
}

#about {
  background-color:#fff;
  margin-top:2em;
}

#about-us {
  width:40%;
  padding:5px 20px;
  line-height:1.5em;
  text-align:center;
  margin:auto;
}


/*Videos */

#player {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin:auto;
}

.youtube .carousel {
  width: 30%;
  height: 350px;
  padding:5px 10px;
  cursor:pointer;
  overflow: auto;
  position: absolute;
  right: 5%;
  z-index: 3;
}

.carousel{
  border:1px solid #aaa;
}

.youtube .thumbnail {
    margin: 2px 8px 0 2px;
    width: 100px;
}

.youtube iframe.player {
    width: 60%;
    height: 350px;  
    overflow: auto;
    padding:5px;
    border:0;
  
}
.yt-descript {
    display:block;
    height:100px;
    margin-left:20px;
}
.carItemContain{
    width:;
    height:100px;
}

/*Flickr photos */

.photo-set{
  display:inline-block;
  min-width:360px;
}

#galleries{
  max-width: 1080px;
  margin:auto;
}

/*Social*/


#social-links {
  width:400px;
  margin:auto;
  text-align:center;
}

#social-links span a{
  text-decoration:none;
}

#organizers{
 
}
.organizer{
  float:left;
  width:33.33%;
  position:relative;
  cursor:pointer;
  overflow:hidden;
}

.organizer img{
  width:100%;
  height:100%;
  display:block;
}

.caption {
  position:absolute;
  top:0;
  left:0;
  display:none;
  background-color: rgba(0,0,0,.75);  
  height: 100%;  
  width: 100%;  

  /* For IE 5-7 */  
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);  
  /* For IE 8 */  
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";  
  }  

.caption h3 {
  color:#ddd;
  text-align:center;
  text-shadow:1px 1px 1px #222;
  margin-top:40%;
  font-size:1.5em;
}





