@charset "utf-8";

body {
  background: #fff;
  font-family: "Bitter", "Arial", sans-serif; 
  color: rgba(0, 0, 0, .7);
}

section {
  float:left;
  width:100%;
  clear:both;
  padding-top:2em;
  padding-bottom:2em;
}

section h2{
  font-weight: bold;
  font-size: 2.5em;
  letter-spacing: -1px;
  text-transform: uppercase;
  padding: 0;
  text-align:center;
  color:rgb(226, 102, 0);
  text-shadow:1px 1px 1px rgba(0,0,0,.6);

}

#photos {
  padding-top:1em;
}

#photos h2{
  margin-bottom:0;
}

#photos h3{
  text-align:center;
  padding-top:15px;
  font-weight:normal;
  
}
/* index page */

#intro{
  background-color:#333;
  padding-bottom:10px;
  box-shadow:0px 2px 6px rgba(0,0,0,.3);
  -webkit-box-shadow:0px 2px 6px rgba(0,0,0,.3);
  -moz-box-shadow:0px 2px 6px rgba(0,0,0,.3);
  margin-top:0;
  padding-top:20px;
}

#intro h1 {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  padding: 0;
  margin: 0; 
  color:rgba(0,0,0,.7);
  text-shadow: 1px 1px 0 rgba(255,255,255,.2);
}

#logo{
margin-left:40px;
}

.logo {
  margin-left: 25px;
}

#logo, #events{
  float:left;
}

#events {
  text-align: center;
  margin-left:15%;
  width:40%;
  background-color: rgb(226, 102, 0);
  border-radius:5px;
  box-shadow:3px 3px 10px #333;
  margin-top:5px;
}

#event-details a{
  font-size:1.25em;
  text-decoration:none;
   color: rgba(255,255,255,.9);
  text-shadow:1px 1px 1px rgba(0,0,0,.6);
}

#event-details a:hover{
  text-decoration:underline;
}

#events li{
  list-style-type:none;
  padding-bottom:20px;
}

#events h2{
  text-align:center;
  text-transform: none;
  font-size:2em;
  letter-spacing:0;
  margin:20px;
   color: rgba(255,255,255,.9);
  text-shadow:1px 1px 1px rgba(0,0,0,.6);

}

#welcome {
  background-color:#fff;
  float:left;
  border-bottom:1px solid #ccc;
  margin-top:1em;
  padding:0;
}

#welcome p{
  padding:0;
  margin:0;
}

#about {
  width:40%;
  line-height:1.6em;
  float:left;
  font-size:1em;
  padding:2% 5%;
}

#newsletter{
  font-size:1em;
  line-height:1.6em;
  float:left;
  width:40%;
  padding:2% 5%;
}



/*Videos */


#player {
  width:100%;
  position: relative;
  margin:auto;
}

.carousel-wrap{
  width:100%;
  overflow-x:scroll;
  overflow-y:hidden; 
  background-color:rgba(235,235,235,.5);

  -webkit-box-shadow: inset 1px 1px 8px #ccc; 
  -moz-box-shadow: inset 1px 1px 8px #ccc; 
  box-shadow: inset 1px 1px 8px #ccc;
  border:1px solid #ccc;
  padding-top:10px;
  margin-top:2em;
}
.carousel{
  margin-top:20px;

}

.youtube .thumbnail {
    margin: 2px 8px 0 2px;
    width: 160px;
    cursor:pointer;
}

.thumb-container{
  width:250px;
  display:inline-block;
  vertical-align:top;
  padding:20px;
  text-align:center;
}
.thumbnail {
  border:1px solid #444;
  box-shadow: 1px 1px 3px #aaa;
  -webkit-box-shadow: 1px 1px 3px #aaa;
  -moz-box-shadow: 1px 1px 3px #aaa;
  
}

.player {
    display:block;
    width: 900px;
    margin:auto;
    height: 450px;  
    overflow: auto;
    border:1px solid #444;
    box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    -moz-box-shadow: 1px 1px 3px #aaa;
}

.yt-descript {
    display:block;
    cursor:pointer;
}
.carItemContain{
    width:;
    height:100px;
}

/*Flickr photos */

.photo-set{
  display:inline-block;
  min-width:360px;
}

#galleries{
  max-width: 1080px;
  margin:auto;
}

#galleries img{
  border: 1px solid #333;
}

/*Social*/

#social {
  margin-top:2em;
}

#social a, {
  text-decoration:none;
}
#social-links {
  width:400px;
  margin:auto;
  text-align:center;
}

#organizers{
 
}
.organizer{
  float:left;
  width:33.33%;
  position:relative;
  cursor:pointer;
  overflow:hidden;
}

.organizer img{
  width:100%;
  height:100%;
  display:block;
}

.caption {
  position:absolute;
  top:0;
  left:0;
  display:none;
  background-color: rgba(0,0,0,.75);  
  height: 100%;  
  width: 100%;  

  /* For IE 5-7 */  
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);  
  /* For IE 8 */  
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";  
  }  

.caption h3 {
  color:#fff;
  text-align:center;
  text-shadow:1px 1px 1px #222;
  padding-top:1em;
  font-size:1.5em;
}


/*Mail Chimp*/
#mc_embed_signup{
  background:#fff; 
  clear:left; 
  font:14px Helvetica,Arial,sans-serif; 
}

#mc_embed_signup input.email{
  width:65%;
  float:left;
  margin-right:2%;
  border:1px solid #aaa;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
}

#mc_embed_signup .clear {
  clear: none;
  display: inline;
  float:left;
  width:30%;
}

#mc_embed_signup form {
  padding-left:0;
}

#mc_embed_signup input.button{
  width:40%;
}




