@charset "utf-8";

body {
  background: #555;
  font-family: "Arial", sans-serif; 
}

section {
  float:left;
  width:100%;
  clear:both;
  padding:20px;
}
/* index page */

#intro{
  padding:20px;
}

#intro h1 {
  color: rgba(0, 0, 0, .5);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
  padding: 0;
  margin: 0; 
}

.logo{
margin-left:20px;
}

#logo, #events{
  float:left;
}

#events {
  margin-left:15%;
  color: #222;
  padding:5px 30px 30px 30px;
  background-color: rgb(226, 102, 0);
  border-radius:5px;
  box-shadow:3px 3px 10px #333;
}

#event-details a{
  font-size:1.25em;
  text-decoration:none;
  color: #333;
}

#event-details a:hover{
  text-decoration:underline;
}

#events li{
  list-style-type:none;
}

#events h2{
  text-align:center;
  color: #fff;
}

#about {
  background-color:#fff;
  margin-top:2em;
}

#about-us {
  width:40%;
  padding:10px 20px;
  line-height:1.5em;
  text-align:center;
  margin:auto;
}

#player {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    padding: 5px;
    margin:auto;

}

.youtube .carousel {
  
    width: 30%;
    height: 350px;
    padding:5px;
    cursor:pointer;
    background-color:#666;
    overflow: auto;
    position: absolute;
    right: 5%;
    z-index: 3;
  
}

.youtube .thumbnail {
    margin: 2px 10px 0 2px;
    width: 100px;
    border: 1px solid black;
}

.youtube iframe.player {
    width: 60%;
    height: 350px;  
    overflow: auto;
    border: 0;
    padding:5px;
  
}
.yt-descript {
    color: #333;   
    display:block;
    height:100px;
    margin-left:20px;
}
.carItemContain{
    width:;
    height:100px;
}




