@import 'bootstrap';

@charset "utf-8";


#photos .span4 {
  margin-left:10px;
}

#welcome, #photos, #videos, #organizers{
  background-color:#fff;
}

.container {
  border-bottom:1px solid #ccc;
}



body {
  background: #3a3531 url('/images/hnk-pattern.png');
  background-size:88px 100px;
  font-family: "Bitter", "Arial", sans-serif; 
  color: rgba(0, 0, 0, .7);
}

section {
  float:left;
  width:100%;
  clear:both;
  padding-top:1em;
  padding-bottom:1em;
    h2{
      font-weight: bold;
      font-size: 2.5em;
      letter-spacing: -1px;
      text-transform: uppercase;
      padding: 2em 0 2em 0;
      text-align:center;
      color:rgb(226, 102, 0);
    }
}


.inner {
  background-color:#fff;
  padding: 15px 0;

}

#events {
    margin-top:35px;
    h3 {
      display:inline;
    }
    li { 
      font-size:1.25em;
      color:rgb(255,105,0);
      display:inline;
      text-decoration:none;
      a {
        padding:40px 0 40px 4px;
        color:#fff;
      }
    }
}


#about{
  padding-top:20px;
  font-size:1.25em;
  line-height:1.4em;
  text-align:center;
}

#newsletter {
  padding-top:20px;
  p {
    text-align:center;
    font-size:.9em;
  }
}

#photos{

    h2 {
      padding: 1em 0 1em 0;
    }
}

#galleries {

    h3{
      font-size:18px;
      text-align:center;
    }
}
/*Videos */


#player {
  width:100%;
  position: relative;
  margin:auto;
}

.carousel-wrap{
  width:100%;
  overflow-x:scroll;
  overflow-y:hidden; 
  background-color:rgba(235,235,235,.5);

  -webkit-box-shadow: inset 1px 1px 8px #ccc; 
  -moz-box-shadow: inset 1px 1px 8px #ccc; 
  box-shadow: inset 1px 1px 8px #ccc;
  border:1px solid #ccc;
  padding-top:10px;
  margin-top:2em;
}


.youtube .thumbnail {
    margin: 2px 8px 0 2px;
    width: 180px;
    cursor:pointer;
}

.thumb-container{
  width:250px;
  display:inline-block;
  vertical-align:top;
  padding:20px;
  text-align:center;
    img {
      box-shadow: 2px 2px 6px #777;
      -webkit-box-shadow: 2px 2px 6px #777;
      -moz-box-shadow: 2px 2px 6px #777;
    }
}
.thumbnail {
  border:1px solid #444;
  box-shadow: 1px 1px 3px #aaa;
  -webkit-box-shadow: 1px 1px 3px #aaa;
  -moz-box-shadow: 1px 1px 3px #aaa;
  padding:0;
}

.player {
    display:block;
    width: 920px;
    margin:auto;
    height: 450px;  
    overflow: auto;
    border:1px solid #444;
    box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    -moz-box-shadow: 1px 1px 3px #aaa;
}

.yt-descript {
    padding-top:10px;
    display:block;
    cursor:pointer;
    width:180px;
}
.carItemContain{
    width:0;
    height:100px;
}

/*Flickr photos */


/*Social*/

#social {
  margin-top:2em;
}

#social-links a {
  text-decoration:none;
}
#social-links {
  width:400px;
  margin:auto;
  text-align:center;
}

.organizer{
  float:left;
  width:33.33%;
  position:relative;
  cursor:pointer;
  overflow:hidden;
}

.organizer img{
  width:100%;
  height:100%;
  display:block;
}

.caption {
  position:absolute;
  top:0;
  left:0;
  display:none;
  background-color: rgba(0,0,0,.75);  
  height: 100%;  
  width: 100%;  

  /* For IE 5-7 */  
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);  
  /* For IE 8 */  
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";  
  }  

.caption h3 {
  color:#fff;
  text-align:center;
  text-shadow:1px 1px 1px #222;
  padding-top:1em;
  font-size:1.5em;
}


#organizers {
  padding-bottom:4em;
}

/*Mail Chimp*/
#mc_embed_signup{
 
}

#mc_embed_signup input.email{
  display:inline-block;
}

#mc_embed_signup input.email:focus {
      box-shadow:none !important;
      color:#333;
    }

#mc_embed_signup .clear {
 
}

#mc_embed_signup form {

}

#mc_embed_signup input.button{
  display:inline-block;
  height:37px;
  border: 1px solid #aaa;
  background-color:#0088cc;
}

#mc_embed_signup input.button:hover{
  background-color:#00689C;
}

#mc_embed_signup input.button:focus {

}




#footer{
  min-height:40px;
}