 
  <section id="footer">
    <div id="credits" class="container">
      <div id="copyright">
            Copyright &copy; <%= Time.now.year %> Hacker News Kansai
      </div>
      <div id="created">
            Created by <%= link_to 'FajitaNachos', 'http://fajitanachos.com' %>
      </div>
    </div>
  </section>
