/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 13, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

/* line 22, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

/* line 29, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* line 39, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-opened {
  z-index: 8030; }

/* line 43, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

/* line 49, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-outer, .fancybox-inner {
  position: relative; }

/* line 53, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-inner {
  overflow: hidden; }

/* line 57, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

/* line 61, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

/* line 69, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

/* line 75, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

/* line 80, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("/images/fancybox_sprite.png"); }

/* line 84, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

/* line 96, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("/images/fancybox_loading.gif") center center no-repeat; }

/* line 102, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

/* line 112, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("/images/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
  width: 60px; }

/* line 125, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-prev {
  left: 0; }

/* line 129, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-next {
  right: 0; }

/* line 133, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  opacity: .5; }

/* line 144, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

/* line 149, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

/* line 154, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-prev span:hover, .fancybox-next span:hover {
  opacity: .9; }

/* line 158, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-nav:hover span {
  opacity: .9; }

/* line 163, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
/* line 175, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-lock {
  overflow: visible !important;
  width: auto; }

/* line 180, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-lock body {
  overflow: hidden !important; }

/* line 184, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-lock-test {
  overflow-y: hidden !important; }

/* line 188, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("/images/fancybox_overlay.png"); }

/* line 198, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

/* line 204, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
/* line 211, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

/* line 219, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-opened .fancybox-title {
  visibility: visible; }

/* line 223, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

/* line 232, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

/* line 248, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

/* line 254, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-title-inside-wrap {
  padding-top: 10px; }

/* line 258, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 273, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("/images/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }

  /* line 278, /Users/Holsted/Projects/hnkansai/source/stylesheets/fancybox.scss */
  #fancybox-loading div {
    background-image: url("/images/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }
