---
title: Hacker News Kansai
---

<div class="container">
  <section id = "intro">
    <div id="logo">
    <%= image_tag 'hn-logo.png', :width => '300', :class => 'logo'%>
    <h1>Hacker News Kansai</h1>
    </div>
    <div id= "events">
      <h2>Next Event</h2>
      <li id = "event-details"></li>
    </div>
  </section>

  <section id = "about">
  </section>

  <section id = "photos">
  </section>

  <section id = "videos">
  </section>

  <section id = "members">
  </section>

  <section id = "organizers">
  </section>

  <section id = "social">
  </section>

</div>