---
title: Hacker News Kansai
---

<div class="container">

  <section id="events">
    <div id = "next-event">
    
    </div>

  </section>

  <section id = "mailing-list">
  </section>

  <section id = "photos">
  </section>

  <section id = "videos">
  </section>

  <section id = "members">
  </section>

  <section id = "organizers">
  </section>

  <section id = "social">
  </section>

</div>