---
title: Hacker News Kansai
---
<div class="container">
  <section id = "intro">
    <div id="logo">
    <%= image_tag 'hn-logo.png', :width => '300', :class => 'logo'%>
    <h1>Hacker News Kansai</h1>
    </div>
    <div id= "events">
      <h2>Next Event</h2>
      <li id = "event-details"></li>
    </div>
  </section>

  <section id = "about">
    <div id = "about-us">
      <p>
        HNKansai is a meetup based around <%= link_to 'Hacker News', 'http://news.ycombinator.com' %>.
        Every month, we get together in Kyoto, Osaka, or Kobe to talk about technology, design, games, and startups. Come join us!
      </p>
    </div>
  </section>

  <section id = "photos">
    <h2> Photos </h2>
    <div id = "galleries">

    </div>

  </section>

  <section id = "videos">
    <h2>Videos</h2>
   <div id="player">
   </div>
  </section>

  <section id = "members">
  </section>

  <section id = "organizers">
  </section>

  <section id = "social">
  </section>

</div>